<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="../assets/cs496_final/report/CS496_DL_Final_Report.pdf">Written Report</a></li>
				<li><a href="mailto:patrick.oreilly2024@u.northwestern.edu">Contact</a></li>
	        		<li><a href="https://interactiveaudiolab.github.io/teaching/deeplearning.html">Northwestern University COMP_SCI 496 Deep Learning, Prof. Bryan Pardo</a></li>
				
	    		</ul>
			</nav>
			<div class="entry-content markdown-body">
			
			{{ content }}
			
			</div><!-- /.entry-content -->
			<footer>
			</footer>
			{% include open-embed.html %}
		</body>
	</html>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>